/* 1. ACTIVATION DE TAILWIND V4 */
@import "tailwindcss";

/* 2. CONFIGURATION DES VARIABLES */
:root {
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  font-family: var(--sans);
}

/* 4. RESET TOTAL POUR LE LAYOUT */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden; 
  
}

* {
  box-sizing: border-box;
}

@theme {
  --animate-slide-up: slideUp 0.3s ease-out forwards;

  @keyframes slideUp {
    0%   { transform: translateY(40px); opacity: 0; }
    100% { transform: translateY(0);    opacity: 1; }
  }
}