# .env.docker.example = versionné
# .env.docker         = non versionné

# Ce fichier regroupe les variables d'environnement à fournir au docker-compose pour le lancement des différents services

# Local : 
#        docker compose --env-file=.env.docker.example
# (ou)   docker compose --env-file=.env.docker

# Prod :  
#        docker compose --env-file=.env.docker


# -----------------------------
# DATABASE
# -----------------------------
POSTGRES_USER=# DEFINIR VOTRE USERNAME
POSTGRES_PASSWORD=# DEFINIR VOTRE PASSWORD
POSTGRES_DB=# DEFINIR LE NOM DE VOTRE DATABASE
POSTGRES_LOCAL_PORT=# DEFINIR LE PORT



# -----------------------------
# API
# -----------------------------

NODE_ENV=development

JWT_SECRET=# METTRE UN MOT DE PASSE

NODE_ENV=development

# Remarque : Le nom du service de base de données dans :  docker-compose  = db
DATABASE_URL= postgres://##USERNAME:PASSWORD@database:PORT/DATABASENAME

API_PORT=#PORT
API_LOCAL_PORT=#PORT

#  CORS
CORS_ORIGIN=http://localhost:#PORT

# # ALLOWED_ORIGINS=oquiz.PSEUDO-server.eddi.cloud
# LOG_LEVEL=http

# # LOGS SERVICE
# LOGS_DATABASE_URL=mongodb://logs-db:27017/log_service
# LOGS_SERVICE_LOCAL_PORT=3500
# LOGS_DB_LOCAL_PORT=27017

# -----------------------------
# CLIENT
# -----------------------------
CLIENT_LOCAL_PORT=#PORT

# API de Front
VITE_API_URL=http://localhost:#PORT
VITE_API_BASE_PATH=/api

# # FILES SERVICE
# FILES_POSTGRES_USER=files
# FILES_POSTGRES_PASSWORD=files
# FILES_POSTGRES_DB=files
# FILES_DB_LOCAL_PORT=5455
# FILES_DATABASE_URL=postgres://files:files@files-db:5432/files
# FILES_SERVICE_LOCAL_PORT=4020

# # ADMINER
# ADMINER_LOCAL_PORT=8080

# # PROXY
# PROXY_LOCAL_PORT=4000
# CLIENT_SERVER_NAME=oquiz.PSEUDO-server.eddi.cloud
# API_SERVER_NAME=oquiz-api.PSEUDO-server.eddi.cloud




